* {
    background-color: #eff3f2;
}

#addNewSlider,
#refresh {
    display: none;
}

.wrapper {
    margin: 0 auto;
    text-align: center;
}

.item {
    width: 100%;
    height: 100%;
    text-align: center;
}

#graph, #ranges, #players, #scores {
    background-color: white;
}

.button {
    background-color: #a937f5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

#ranges .noUi-connect {
	background: #a937f5;
}

h1{
    font-family: Verdana;
    font-size: 25px;
    color: #a937f5;
}

#leftEdge
{
    border-style: solid;
    height: 0px;
    width: 0px;
    display: inline-block;
    border-color: transparent transparent transparent #a937f5;
    border-width: 1.5rem 0 1.5rem 3rem;
    padding: 0;
    border-radius: 8px;
}

#rightEdge
{
    border-style: solid;
    height: 0px;
    width: 0px;
    display: inline-block;
    border-color: transparent  #a937f5 transparent transparent;
    border-width: 1.5rem 3rem 1.5rem 0;
    padding: 0;
    border-radius: 8px;
}
#players{
    padding-top: 30px;
}